h1 {
  text-align: center;
}

#grid {
  width: 800px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  position: absolute;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}

.food {
  background-color: red;
}

#scoreBoard {
  background-color:wheat;
  margin: 0px;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: auto;
}

#gameOver {
  width: 800px;
  height: 480px;
  background-color: whitesmoke;
  opacity: 0;
}

#board {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

